clipboardmagic/Service References/CodinggainClipboardService/ClipboardInterface1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://ClipboardConnection.codinggain.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ClipboardConnection.codinggain.org" targetNamespace="http://ClipboardConnection.codinggain.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ClipboardConnection.codinggain.org">
      <xsd:element name="removeScratchPadItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int" />
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeScratchPadItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="removeScratchPadItemReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchClipboard">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="criteria" type="xsd:string" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
            <xsd:element name="segmentnumber" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchClipboardResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchClipboardReturn" type="impl:ReturnInterface" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ReturnInterface">
        <xsd:sequence>
          <xsd:element name="success" type="xsd:boolean" />
          <xsd:element name="content" nillable="true" type="xsd:string" />
          <xsd:element name="date" nillable="true" type="xsd:dateTime" />
          <xsd:element name="numberOfSegments" type="xsd:int" />
          <xsd:element name="segmentNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getScratchDates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getScratchDatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getScratchDatesReturn" type="impl:ScratchDataInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ScratchDataInfo">
        <xsd:sequence>
          <xsd:element name="date" nillable="true" type="xsd:string" />
          <xsd:element name="username" nillable="true" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="containsdata" type="xsd:boolean" />
          <xsd:element name="content" nillable="true" type="xsd:string" />
          <xsd:element name="title" nillable="true" type="xsd:string" />
          <xsd:element name="prev_id" type="xsd:int" />
          <xsd:element name="next_id" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAccessRights">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="encode" type="xsd:boolean" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccessRightsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getAccessRightsReturn" type="impl:EncryptionData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EncryptionData">
        <xsd:sequence>
          <xsd:element name="encrypt_key" type="xsd:int" />
          <xsd:element name="access_key_id" type="xsd:int" />
          <xsd:element name="date" nillable="true" type="xsd:dateTime" />
          <xsd:element name="useable" type="xsd:boolean" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
          <xsd:element name="MaxSize" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="putScratchPad">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="title" type="xsd:string" />
            <xsd:element name="content" type="xsd:string" />
            <xsd:element name="important" type="xsd:boolean" />
            <xsd:element name="reminder" type="xsd:boolean" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
            <xsd:element name="lastFileId" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="putScratchPadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="putScratchPadReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkCredantials">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkCredantialsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="checkCredantialsReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addNewUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="email" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addNewUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addNewUserReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkForClip">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkForClipResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="checkForClipReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMaxSize">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getMaxSizeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getMaxSizeReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSegments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="segment" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSegmentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getSegmentsReturn" type="impl:ReturnInterface" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClipboardContent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="from" type="xsd:string" />
            <xsd:element name="to" type="xsd:string" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClipboardContentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getClipboardContentReturn" type="impl:ReturnInterface" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="putClipboardContent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="content" type="xsd:string" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="putClipboardContentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="putClipboardContentReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getScratchData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="id" type="xsd:int" />
            <xsd:element name="access_key_id" type="xsd:int" />
            <xsd:element name="random_access" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getScratchDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getScratchDataReturn" type="impl:ScratchDataInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="removeScratchPadItemResponse">
    <wsdl:part name="parameters" element="impl:removeScratchPadItemResponse" />
  </wsdl:message>
  <wsdl:message name="getScratchDataResponse">
    <wsdl:part name="parameters" element="impl:getScratchDataResponse" />
  </wsdl:message>
  <wsdl:message name="checkForClipRequest">
    <wsdl:part name="parameters" element="impl:checkForClip" />
  </wsdl:message>
  <wsdl:message name="getMaxSizeRequest">
    <wsdl:part name="parameters" element="impl:getMaxSize" />
  </wsdl:message>
  <wsdl:message name="getClipboardContentRequest">
    <wsdl:part name="parameters" element="impl:getClipboardContent" />
  </wsdl:message>
  <wsdl:message name="searchClipboardResponse">
    <wsdl:part name="parameters" element="impl:searchClipboardResponse" />
  </wsdl:message>
  <wsdl:message name="getAccessRightsResponse">
    <wsdl:part name="parameters" element="impl:getAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="addNewUserRequest">
    <wsdl:part name="parameters" element="impl:addNewUser" />
  </wsdl:message>
  <wsdl:message name="searchClipboardRequest">
    <wsdl:part name="parameters" element="impl:searchClipboard" />
  </wsdl:message>
  <wsdl:message name="putClipboardContentRequest">
    <wsdl:part name="parameters" element="impl:putClipboardContent" />
  </wsdl:message>
  <wsdl:message name="getScratchDatesRequest">
    <wsdl:part name="parameters" element="impl:getScratchDates" />
  </wsdl:message>
  <wsdl:message name="removeScratchPadItemRequest">
    <wsdl:part name="parameters" element="impl:removeScratchPadItem" />
  </wsdl:message>
  <wsdl:message name="addNewUserResponse">
    <wsdl:part name="parameters" element="impl:addNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="getSegmentsResponse">
    <wsdl:part name="parameters" element="impl:getSegmentsResponse" />
  </wsdl:message>
  <wsdl:message name="getSegmentsRequest">
    <wsdl:part name="parameters" element="impl:getSegments" />
  </wsdl:message>
  <wsdl:message name="putClipboardContentResponse">
    <wsdl:part name="parameters" element="impl:putClipboardContentResponse" />
  </wsdl:message>
  <wsdl:message name="getScratchDataRequest">
    <wsdl:part name="parameters" element="impl:getScratchData" />
  </wsdl:message>
  <wsdl:message name="putScratchPadResponse">
    <wsdl:part name="parameters" element="impl:putScratchPadResponse" />
  </wsdl:message>
  <wsdl:message name="checkForClipResponse">
    <wsdl:part name="parameters" element="impl:checkForClipResponse" />
  </wsdl:message>
  <wsdl:message name="putScratchPadRequest">
    <wsdl:part name="parameters" element="impl:putScratchPad" />
  </wsdl:message>
  <wsdl:message name="checkCredantialsRequest">
    <wsdl:part name="parameters" element="impl:checkCredantials" />
  </wsdl:message>
  <wsdl:message name="getAccessRightsRequest">
    <wsdl:part name="parameters" element="impl:getAccessRights" />
  </wsdl:message>
  <wsdl:message name="getScratchDatesResponse">
    <wsdl:part name="parameters" element="impl:getScratchDatesResponse" />
  </wsdl:message>
  <wsdl:message name="getClipboardContentResponse">
    <wsdl:part name="parameters" element="impl:getClipboardContentResponse" />
  </wsdl:message>
  <wsdl:message name="getMaxSizeResponse">
    <wsdl:part name="parameters" element="impl:getMaxSizeResponse" />
  </wsdl:message>
  <wsdl:message name="checkCredantialsResponse">
    <wsdl:part name="parameters" element="impl:checkCredantialsResponse" />
  </wsdl:message>
  <wsdl:portType name="ClipboardInterface">
    <wsdl:operation name="removeScratchPadItem">
      <wsdl:input name="removeScratchPadItemRequest" message="impl:removeScratchPadItemRequest" />
      <wsdl:output name="removeScratchPadItemResponse" message="impl:removeScratchPadItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchClipboard">
      <wsdl:input name="searchClipboardRequest" message="impl:searchClipboardRequest" />
      <wsdl:output name="searchClipboardResponse" message="impl:searchClipboardResponse" />
    </wsdl:operation>
    <wsdl:operation name="getScratchDates">
      <wsdl:input name="getScratchDatesRequest" message="impl:getScratchDatesRequest" />
      <wsdl:output name="getScratchDatesResponse" message="impl:getScratchDatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAccessRights">
      <wsdl:input name="getAccessRightsRequest" message="impl:getAccessRightsRequest" />
      <wsdl:output name="getAccessRightsResponse" message="impl:getAccessRightsResponse" />
    </wsdl:operation>
    <wsdl:operation name="putScratchPad">
      <wsdl:input name="putScratchPadRequest" message="impl:putScratchPadRequest" />
      <wsdl:output name="putScratchPadResponse" message="impl:putScratchPadResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkCredantials">
      <wsdl:input name="checkCredantialsRequest" message="impl:checkCredantialsRequest" />
      <wsdl:output name="checkCredantialsResponse" message="impl:checkCredantialsResponse" />
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <wsdl:input name="addNewUserRequest" message="impl:addNewUserRequest" />
      <wsdl:output name="addNewUserResponse" message="impl:addNewUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkForClip">
      <wsdl:input name="checkForClipRequest" message="impl:checkForClipRequest" />
      <wsdl:output name="checkForClipResponse" message="impl:checkForClipResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMaxSize">
      <wsdl:input name="getMaxSizeRequest" message="impl:getMaxSizeRequest" />
      <wsdl:output name="getMaxSizeResponse" message="impl:getMaxSizeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSegments">
      <wsdl:input name="getSegmentsRequest" message="impl:getSegmentsRequest" />
      <wsdl:output name="getSegmentsResponse" message="impl:getSegmentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getClipboardContent">
      <wsdl:input name="getClipboardContentRequest" message="impl:getClipboardContentRequest" />
      <wsdl:output name="getClipboardContentResponse" message="impl:getClipboardContentResponse" />
    </wsdl:operation>
    <wsdl:operation name="putClipboardContent">
      <wsdl:input name="putClipboardContentRequest" message="impl:putClipboardContentRequest" />
      <wsdl:output name="putClipboardContentResponse" message="impl:putClipboardContentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getScratchData">
      <wsdl:input name="getScratchDataRequest" message="impl:getScratchDataRequest" />
      <wsdl:output name="getScratchDataResponse" message="impl:getScratchDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClipboardInterfaceSoapBinding" type="impl:ClipboardInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="removeScratchPadItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="removeScratchPadItemRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeScratchPadItemResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchClipboard">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchClipboardRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchClipboardResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScratchDates">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getScratchDatesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getScratchDatesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccessRights">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAccessRightsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAccessRightsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putScratchPad">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="putScratchPadRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="putScratchPadResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCredantials">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="checkCredantialsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkCredantialsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addNewUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addNewUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkForClip">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="checkForClipRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkForClipResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxSize">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getMaxSizeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMaxSizeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSegments">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSegmentsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSegmentsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClipboardContent">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getClipboardContentRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getClipboardContentResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putClipboardContent">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="putClipboardContentRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="putClipboardContentResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScratchData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getScratchDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getScratchDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClipboardInterfaceService">
    <wsdl:port name="ClipboardInterface" binding="impl:ClipboardInterfaceSoapBinding">
      <wsdlsoap:address location="http://www.codinggain.com/ClipboardConnection/services/ClipboardInterface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>